table#venues.table.table-bordered.table-striped
	thead
		th
		th Название
		th Адрес
		th Широта
		th Долгота
	tbody
		each venue in venues
			tr.venue
				td
					each category in venue.categories
						img.venue-avatar(title=category.name, alt=category.name, src="#{category.icon.prefix}32#{category.icon.name}")
				td
					a(href="https://foursquare.com/v/#{venue.id}")= venue.name
				td= venue.location.address
				td= venue.location.lat
				td= venue.location.lng
